<div class="app-counter-container">
    <div class="app-counter">
        <!-- CHILD COMPONENTS GOES HERE -->

          <!-- <app-counter-value
            [count]="counter"
          >
        </app-counter-value>
          <app-counter-button
          (incrementClicked)="onIncrementCount()"
          (decrementClicked)="onDecrementCount()"
          (resetClicked)="onResetCount()"
          >

          </app-counter-button> -->
          <app-counter-value>

          </app-counter-value>

          <app-counter-button>

          </app-counter-button>
          <app-custom-input>
          </app-custom-input>
    </div>
</div>
